body {
    width: 100%;
    margin: 0px;
    font-family: 'roboto', sans-serif;

    --primaire-color : #9456DC;
    --secondaire-color: #FF79DA;
    --tertiaire-color : #99E2D0;
}

h1 {
    font-family: 'shrikhand', sans-serif;
    font-size: 30px;
    font-weight: normal;
    margin: 0px;
}

h2{
    font-weight: lighter;
    font-size: 15px;
    text-transform: uppercase;
}

h3{
    margin: 0px;
    font-weight: 500;
    font-size: 17px;
}

p {
    margin: 0px;
}


.none-wh {
    text-decoration: none;
    color: white;
    font-weight: lighter ;
}

/* HEADER */

header {
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.logo a {
    text-decoration: none;
    color: black;
}

.logo img {
    align-self: flex-end;
}

header img {
    width: 50%;
    margin: auto;
}


/* FONDS */

.fond {
    height: 260px;
    max-width: 100%;
    overflow: hidden;
    background-size: cover;
}

.a_la_fr {
    background-image: url(/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
}

.la_no_en {
    background-image: url(/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
    background-position: center;
}

.la_pa_du_go {
    background-image: url(/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
    background-position: center;
}

.le_de_de_se{
    background-image: url(/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
    background-position: center;
}

/* MENU */

#menu {
    background-color: #F2F2F2;
    border-radius: 50px 50px 0px 0px;
    padding: 30px 20px 20px 20px;
    margin-top: -45px;
    width: 100%;
    box-sizing: border-box;
}

.details_item{
    padding: 10px;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-bottom: 15px;
}

.test2{
    display: flex;
    flex-direction: row;
    height: 100%;
}

@keyframes slidein {
    from { transform: scaleX(0); }
    to   { transform: scaleX(1); }
}

@keyframes transform {
    from {transform: rotate(0deg);}
    to   {transform: rotate(360deg);}
}

.test2 .hover {
    width: 50px;
    height: 60px;
    border-radius: 0px 10px 10px 0px;
    background-color: var(--tertiaire-color);
    display: none;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
}

.menu_details:hover .hover{
    width: 50px;
    height: 60px;
    border-radius: 0px 10px 10px 0px;
    background-color: var(--tertiaire-color);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: 1s slidein;
    transform-origin: 100% 50%;
}

.menu_details:hover .hover2{
    animation: 800ms transform 200ms;
}

.hover .fas{
    color: white;
}

.light {
    font-weight: lighter;
    font-size: 14px;
    margin-top: 3px;
}

.header_menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.menu h2{
    margin-bottom: 5px;
}

.header_menu .fas:after{
    top:100%;
}

.header_menu .fas:hover:after{
    top:0%;
}

.header_menu .fas {
    font-size: x-large;
    font-weight: lighter;
    transition: color 1s ease-in .1s;
}

.header_menu .fas:hover {
    color: var(--primaire-color);
    font-weight: bold;
}

.divider {
    width: 38px;
    border-bottom: 3px solid var(--tertiaire-color);
    margin-bottom: 20px;
}

.menu_details{
    height: auto;
    background-color: white;
    border-radius: 15px;
    /*padding: 10px;*/
    margin-bottom: 15px;
}

.details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.details .price {
    display: flex;
    align-self: flex-end;
    height: 60px;
    align-items: flex-end;
}

.details .price p{
    font-size: 15px;
}

/* BOUTON */

.centrer {
    text-align: center;
}

.btn {
    padding: 15px 40px 15px 40px;
    margin: 10px 0px 50px 0px;
    color: white;
    font-size: 15px;
    border: 0px solid;
    border-radius: 30px;
    background: linear-gradient(to bottom, #FF79DA 5%, #9456DC);
    align-items: center;
    cursor: pointer;
}

.btn:hover {
    filter: brightness(1.1);
}

/* FOOTER */

footer{
    background-color: rgb(51, 51, 51);
    color: white;
    padding: 20px;
}

.logo_footer img {
    filter: invert(100%);
    width: 30%;
    margin-top: 5px;
}

.footer_line {
    margin-top: 20px;
    display: flex;
    flex-direction: column; 
    font-family: 'Roboto', sans-serif;
}

.footer_line p {
    font-weight: lighter;
}

.footer_line .line {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.line .fa-utensils {
    margin-right: 17px;
}

.line .fa-hands-helping {
    margin-right: 10px;
}

.line > h4 {
    margin: 0px;
    font-weight: normal;
}

.footer_line >*{
    margin:0px 0px 12px 0px;
}